@model Incharge.ViewModels.EquipmentVM;

@{
    ViewData["Title"] = "Edit Equipment";
}

<div class="container">
    <div class="row">
        <h1 class="font-monospace fw-bold mt-3">Edit Equipment</h1>
    </div>
    <div class="form-group">
        <form asp-action="EditEquipment" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data" class="p-2" autocomplete="on">
            
            <partial name="_EquipmentFormFields" model="Model" />
            <a asp-action="Details" asp-route-id="@Model.Id" type="button" class="btn btn-primary ">Cancel</a>

        </form>
    </div>
</div>
