@model Incharge.ViewModels.EmployeeVM;

@{
    ViewData["Title"] = "Add Employee";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Add New Employee</h1>
        </div>

        <div class="card-body">
            <form asp-action="AddEmployee" method="post">
                <!--Employee Form fields partial view-->
                <partial name="_EmployeeFormFields" model="@Model" />
            </form>

        </div>

    </div>
</div>
