<div class="col pr-2">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add Gym Class
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="AddGymclass" asp-route-type="Private">Private</a></li>
            <li><a class="dropdown-item" asp-action="AddGymclass" asp-route-type="Group">Group</a></li>
        </ul>
    </div>
</div>