@model List<WeekdayItem>
@using Microsoft.AspNetCore.Identity;
@using Incharge.Service.PagingService;
@using Incharge.ViewModels;
@using Incharge.ViewModels.Calendar;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;

@{
    ViewData["Title"] = "Index";
}

@{
    var timeSlots = new List<TimeSpan>();
    for(int i = 7; i < 21; i++)
    {
        var time = TimeSpan.FromHours(i);
        timeSlots.Add(time);
    }

    static string PrintFormattedTime(TimeSpan timeSpan)
    {
        DateTime dateTime = DateTime.Today.Add(timeSpan);
        string formattedTime = dateTime.ToString("h tt");
        return formattedTime;
    }
}

<nav class="navbar-brand mb-5">
    <div class="row align-content-center">
        <h1 class="text-black m-3 align-text-top font-bold">Gym Classes</h1>
    </div>
    <div class="row align-content-center pt-3 pb-3">
        <div class="col pr-2">
            <a asp-action="AddGymclass" class="btn btn-primary">Add Gym Classes</a>
        </div>

        <form asp-action="Index" method="get" class="col">
            <div class="d-flex gap-1 flex-row-reverse">
                <input class="btn btn-outline-primary" type="submit" value="Search" aria-label="search" />
                <input class="form-control w-50" type="text" placeholder="Search" aria-label="Search" name="SearchString" value="@ViewData["CurrentFilter"]" />
            </div>
        </form>

        <div class="col-2 align-content-end">
            <a asp-action="Index" class="btn btn-primary">Back to Full List</a>
        </div>
    </div>
</nav>

<div class="overflow-visible">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table-bordered table text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase" id="monday">Monday</th>
                    <th class="text-uppercase" id="tuesday">Tuesday</th>
                    <th class="text-uppercase" id="wednesday">Wednesday</th>
                    <th class="text-uppercase" id="thursday">Thursday</th>
                    <th class="text-uppercase" id="friday" >Friday</th>
                    <th class="text-uppercase" id="saturday">Saturday</th>
                </tr>
            </thead>

            @*Row is time and columns are days. The columns are automatically sorted by days of the week.*@
            <tbody>
           
                @foreach(var time in timeSlots)
                {
                    <tr>
                        @{
                            var gymclass = new List<WeekdayItem>();
                            foreach (var item in Model)
                            {
                                if (item.TimeSlots.Contains(time))
                                {
                                    gymclass.Add(item);
                                }
                            }
                            <partial name="_CalendarRowTime" model="gymclass" />
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>