@model List<WeekdayItem>
@using Microsoft.AspNetCore.Identity;
@using Incharge.Service.PagingService;
@using Incharge.ViewModels;
@using Incharge.ViewModels.Calendar;
@inject SignInManager<Incharge.Models.User> SignInManager;
@inject UserManager<Incharge.Models.User> UserManager;

@{
    ViewData["Title"] = "Location Schedule";
}

@{
    var DropDownFilter = Model.FirstOrDefault(x => x.Weekday == "DropDown");
    if (DropDownFilter != null)
    {
        Model.Remove(DropDownFilter);
    }
 
}

<div class="row align-content-center">
    <h1 class="text-black m-3 align-text-top font-bold">Location Schedule</h1>
</div>
<nav class="navbar-brand mb-5">
    <div class="row align-content-center pt-3 pb-3">

        <!--Add gym classes drop down seperated by type-->
        <partial name="_AddGymclassDropDown" />

        <div class="col align-content-end">
            @if(DropDownFilter != null)
            {
                <form asp-action="LocationSchedule" method="get" class="col">
                    <partial name="_GymClassNav" model="@DropDownFilter" />
                </form>
            }
        </div>

    </div>
</nav>


<partial name="_formErrorMessage" model="@Model.First()" />

<partial name="_Schedule" model="@Model" />
