@model Incharge.ViewModels.LocationVM;


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Capacity" class="control-label"></label>
    <input asp-for="Capacity" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" type="file" class="form-control" />
</div>

<div class="form-group mt-2 mb-2">
    <input type="hidden" asp-for="Status" value="@Model.Status" />

    <a asp-action="Index" type="button" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</div>

<partial name="_ValidationScriptsPartial" />
