@model Incharge.ViewModels.EquipmentVM;

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<partial name="_formErrorMessage" model="@Model" />

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PurchaseDate" class="control-label"></label>
    <input asp-for="PurchaseDate" class="form-control" />
    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MaintanceDate" class="control-label"></label>
    <input asp-for="MaintanceDate" class="form-control" />
    <span asp-validation-for="MaintanceDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PictureFile" class="control-label"></label>
    <input asp-for="PictureFile" type="file" class="form-control" />
    <span asp-validation-for="PictureFile" class="text-danger"></span>
</div>

<input type="hidden" asp-for="Status" value="@Model.Status" />
<input type="hidden" asp-for="Image" value="@Model.Image" />

<a asp-action="Index" type="button" class="btn btn-primary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>

<partial name="_ValidationScriptsPartial" />