@model Incharge.ViewModels.ExpenseVM;

<div class="mb-3 mt-3">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3 mt-3">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>
<div class="mb-3">
    @*Will override price set in product type. Ok to be null*@
    <label asp-for="Cost" class="control-label"></label>
    <input asp-for="Cost" class="form-control" />
    <span asp-validation-for="Cost" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Type" class="control-label"></label>
    <select asp-for="Type" class="form-select">
        @foreach (var type in Model.TypeOptions)
        {
            <option value="@type">@type</option>
        }
    </select>
</div>
<div class="mb-3">
    @*Will override price set in product type. Ok to be null*@
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" rows="3" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<button asp-action="Index" type="submit" class="btn btn-primary">Cancel</button>
<input type="submit" placeholder="Save" class="btn btn-primary"></input>