<form asp-action="Index" method="get" class="col">
    <div class="d-flex gap-1 flex-row-reverse">
        <input class="btn btn-outline-primary" type="submit" value="Search" aria-label="search" />
        <input class="form-control w-50" type="text" placeholder="Search" aria-label="Search" name="SearchString" value="@ViewData["CurrentFilter"]" />

        <!--Page number filter-->
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Page Size
            </button>


            <ul class="dropdown-menu">
                <li><a asp-action="Index" asp-route-pageSize="10" class="dropdown-item">10</a></li>
                <li><a asp-action="Index" asp-route-pageSize="20" class="dropdown-item">20</a></li>
                <li><a asp-action="Index" asp-route-pageSize="30" class="dropdown-item">30</a></li>
            </ul>
            
            
        </div>


    </div>
</form>